/* Mi class **/
/* shadowtext **/
/* z-index **/
.shadowtext {     
	text-shadow: 1px 1px 2px black, 0 0 1em red; /* Параметры тени */ 
    color: white; /* Белый цвет текста */     
    font-size: 2em; /* Размер надписи */ 
           }
 .z-index {
   position:fixed;
   top:90%;right: 2%;
   z-index: 9991;
    }
 .z-index1 {
   position:fixed;
   top:2%;right: 2%;
   z-index: 9992;
    }
     .z-index2 {
   position: absolute;
   /*top:2%;right: 2%;**/
   z-index: 9993;
    }

